div{
    display: flex;
}
a{
    color: #aab8c2;
    font-size: 14px;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.LogOut{
    width: 100%;
    height: 95%;
}

.container{
    flex-direction: column;
    flex: 1;
    height: 95%;
    border: 2px solid black;
    background: #fff;
}
.LogOut-sol{
    color: white;
    font-size: 18px;
    flex: 1;
    width: 50%;
    height: 100%;
    background-image: url(../images/background.png);
    justify-content: center;
    align-content: center;
}



.LogOut-sol-content-item{
    margin: 48px auto;
    width: 100%;
}

.LogOut-sag{
    flex: 1;
    width: 50%;
    height: 100%;
    border: 1px solid green;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.LogOut-sol-content{
    border: 1px solid black;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.Footer{
    color: #aab8c2;
    font-size: 12px;
    height: 5%;
    width: 100%;
    background: white;
    
}

.Footer ul{
    align-content: space-around;
    display: flex;
}

.Footer a{
    padding: 0 9px;
    color: #aab8c2;
    text-decoration: none;
}
.Footer a:hover{
    text-decoration: underline;
}
    


.signup-header{
    margin: 16px 0;
    width: 100%;
}
.LoginForm-Password{
    flex-direction: column;
}
.LogOut-sag-login{
    flex-direction: row;
    justify-content: space-between;
}
.LogOut-sag-signup{
    width: 350px;
    height: 410px;
    flex-direction: column;
    border: 1px solid black;
    align-content: center;
    justify-content: center;
}
.suanda{
    font-size: 27px;
}
.katil{
    font-size: 18px;
    margin: 16px 0;
}
.signup-button{
    margin: 16px 0;
    justify-content: space-between;
}
.giris{
    color: #1c94e0;
}