.tweet{
    margin-top: 10px;
    cursor: pointer;
    min-height: 80px;
    border-bottom: 1px solid #657786;
}
.tweet-sol{
    flex-direction: column;
}

.tweet:hover{
    background: #f5f8fa;
}
.icerik{
    margin-bottom: 10px;
    margin-top: 10px;
}

.pp-img{
    margin-left: 5px;
    width: 40px;
    height: 40px;
    border-radius: 38px;
    border: 2px solid #fff;
    margin-right: 5px;
}

.tweet-gonder-metin{
    justify-content: center;
}

.tweetAt textarea{
    border-radius:10px;
    border: 2px solid #1c94e0;
    font-family: "Segoe UI", Arial, sans-serif;
    margin-left: 10px;
    margin-top: 5px;
    padding: 10px;
    color: #657786;
}

.tweetAt textarea:focus {
    outline: none;
}

.tw-button{
    width: 84px;
    height: 34px;
    border-radius: 17px;
    background: #1c94e0;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 8px;
}

.tweet-gonder-button{
    justify-content: flex-end;
    margin-right: 5px;
}